.search__widget,
.sorting__widget select {
      padding: 7px 15px;
      border: 1px solid #fde4e4;
      border-radius: 5px;
      cursor: pointer;
}

.search__widget input {
      border: none;
}

.search__widget input:focus {
      outline: none;
}